<?xml version="1.0"?>
<robot name="dodgebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="is_simulation" default="false" />

    <link name="base_footprint"/>
    <link name="base"></link>
    <link name="neck_link">
        <visual>
            <origin xyz="-0.1 -0.15 0.2" rpy="0 1.85 0" />
            <geometry>
                <mesh filename="file://$(find dodge_bringup)/meshes/6006yaw.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver">
                <color rgba="0.700 0.700 0.700 1.000" />
            </material>
        </visual>
    </link>
    <link name="platform_link">
        <visual>
            <origin xyz="-0.28 -0.15 0.11" rpy="0 1.85 0" />
            <geometry>
                <mesh filename="file://$(find dodge_bringup)/meshes/gimbal.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver">
                <color rgba="0.700 0.700 0.700 1.000" />
            </material>
        </visual>
    </link>
    <link name="fric_left_wheel" />
    <link name="fric_right_wheel" />

    <!-- raise the robot a bit higher to prevent it from stucking in the ground -->
    <joint name="joint_base_to_footprint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 1" />
        <parent link="base_footprint" />
        <child link="base" />
    </joint>

    <!-- <joint name="yaw_joint" type="revolute">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <limit effort="3." velocity="8.0" lower="-1.5708" upper="1.5708" />
        <dynamics damping="0.0" friction="0.0" />
        <safety_controller k_position="100" k_velocity="0.1"
                soft_lower_limit="0"
                soft_upper_limit="1000" />
        <parent link="base" />
        <child link="neck_link" />
        <axis xyz="0 1 0" />
    </joint> -->

    <joint name="yaw_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="base" />
        <child link="neck_link" />
        <axis xyz="0 1 0" />
    </joint>

    <joint name="pitch_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.3" />
        <parent link="neck_link" />
        <child link="platform_link" />
    </joint>


    <joint name="fric_wheel_left_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.1 0.1 0" />
        <parent link="platform_link" />
        <child link="fric_left_wheel" />
    </joint>
    <joint name="fric_wheel_right_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.1 -0.1 0" />
        <parent link="platform_link" />
        <child link="fric_right_wheel" />
    </joint>


    <xacro:macro name="shooter_transmission" params="prefix mechanical_reduction motor_id">
        <joint name="${prefix}_joint">
            <command_interface name="effort">
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
            <param name="motor_model">M3508</param>
            <param name="motor_id">${motor_id}</param>
            <param name="mechanical_reduction">${mechanical_reduction}</param>
            <param name="offset">0.0</param>
        </joint>
    </xacro:macro>

    <xacro:macro name="gimbal_transmission" params="prefix mechanical_reduction motor_id">
        <joint name="${prefix}_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
            <param name="motor_model">DaMiao</param>
            <param name="motor_id">motor_id</param>
            <param name="mechanical_reduction">mechanical_reduction</param>
            <param name="max_pos">3.141593</param>
            <param name="max_vel">30</param>
            <param name="max_effort">10</param>
            <param name="offset">0.0</param>
            <param name="control_mode">mit</param>
            <param name="Kp">30.0</param>
            <param name="Kd">0.5</param>
        </joint>
    </xacro:macro>


    <xacro:unless value="$(arg is_simulation)">
        <ros2_control name="dji_motors" type="system">
            <hardware>
                <plugin>meta_hardware/MetaRobotDjiMotorNetwork</plugin>
                <param name="can_network_name">can1</param>
                <param name="master_id">0x00</param>
            </hardware>
            <xacro:shooter_transmission prefix="fric_wheel_left" mechanical_reduction="1.0" motor_id="1" />
            <xacro:shooter_transmission prefix="fric_wheel_right" mechanical_reduction="1.0" motor_id="2" />
            <xacro:shooter_transmission prefix="loader" mechanical_reduction="20.0" motor_id="3" />
        </ros2_control>

        <ros2_control name="dm_motros" type="system">
            <hardware>
                <plugin>meta_hardware/MetaRobotDmMotorNetwork</plugin>
                <param name="can_network_name">can1</param>
                <xacro:shooter_transmission prefix="loader" mechanical_reduction="20.0" motor_id="3" />
            </hardware>
            <xacro:gimbal_transmission prefix="yaw" mechanical_reduction="1.0" motor_id="1" />
            <xacro:gimbal_transmission prefix="pitch" mechanical_reduction="1.0" motor_id="2" />
        </ros2_control>
        
    </xacro:unless>

    <xacro:if value="$(arg is_simulation)">
        <ros2_control name="dji_motors_chassis" type="system">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
            <xacro:shooter_transmission prefix="fric_wheel_left" mechanical_reduction="1.0" motor_id="1" />
            <xacro:shooter_transmission prefix="fric_wheel_right" mechanical_reduction="1.0" motor_id="2" />
            <xacro:shooter_transmission prefix="loader" mechanical_reduction="20.0" motor_id="3" />
        </ros2_control>

        <ros2_control name="dji_motors_gimbal" type="system">
            <hardware>
                <plugin>meta_hardware/MetaRobotDjiMotorNetwork</plugin>
                <param name="can_network_name">ign_ros2_control/IgnitionSystem</param>
            </hardware>
            <xacro:gimbal_transmission prefix="yaw" mechanical_reduction="1.0" motor_id="1" />
            <xacro:gimbal_transmission prefix="pitch" mechanical_reduction="1.0" motor_id="2" />
        </ros2_control>
    </xacro:if>
</robot>